<%- include("partials/_headers") %>

  <body>

    <%- include("partials/_navigations") %>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>
                  <%= post.title %>
                </h1>
                <h2 class="subheading">
                  <%= post.detail %>
                </h2>
                <span class="meta">
                  <%= post.createdAt %>
                </span>
              </div>
              <div class="buttons mb-3 d-flex justify-content-between">
                <a href="/edit_post/<%= post._id %>" class="btn btn-primary">
                  Update
                </a>
                <a href="/posts/<%= post._id %>?_method=DELETE" onclick="return confirm('Silinecek! Emin minisiniz ?')"
                  class="btn btn-danger">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>

      <%- include("partials/_footers") %>

  </body>

  </html>